<!DOCTYPE html>
<html>
  {% load static %}
  <body>
    <div class="container-fluid lightFooter">
      <div class="row">
        <div class="col-lg separator">
          <h3>Lorem ipsum</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac congue mauris, ut ornare mi. Nulla at velit ipsum. Fusce commodo felis mauris, sed porta urna maximus at. Pellentesque eu augue pellentesque, convallis turpis id, pulvinar libero.
        </div>
        <div class="col-lg separator">
          <h3>Lorem ipsum</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac congue mauris, ut ornare mi. Nulla at velit ipsum. Fusce commodo felis mauris, sed porta urna maximus at. Pellentesque eu augue pellentesque, convallis turpis id, pulvinar libero.
        </div>
        <div class="col-lg">
          <h3>Lorem ipsum</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac congue mauris, ut ornare mi. Nulla at velit ipsum. Fusce commodo felis mauris, sed porta urna maximus at. Pellentesque eu augue pellentesque, convallis turpis id, pulvinar libero.
        </div>
      </div>
    </div>
  </body>
</html>
